<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsrg.mapper.UserMapper">
    <update id="upDataUser">
        update user
        <set>
            <if test="username!=null">username = #{username},</if>
            <if test="nickname!=null">nickname = #{nickname},</if>
            <if test="imageUrl!=null">image_url = #{imageUrl},</if>
            <if test="imageUrl=='delete'">image_url = null,</if>
            <if test="updateTime!=null">update_time = #{updateTime}</if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="listByNickname" resultType="com.hsrg.pojo.User">
        select * from user
        <where>
            <if test="nickname!=null">
                nickname like concat('%',#{nickname},'%')
            </if>
        </where>
    </select>
    <select id="countByNickname" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="nickname!=null">
                nickname like concat('%',#{nickname},'%')
            </if>
        </where>
    </select>


</mapper>
